 <div class="row">

        {{#each polls }}
            <div class="col-md-6">
                <form onsubmit="vote(event);" id="{{this._id}}">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <span class="glyphicon glyphicon-arrow-right"></span>{{ this.topic }}
                            </h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                {{#each this.choices }}
                                    <li class="list-group-item">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="optionsRadios" value="{{@index}}">
                                                {{ this.value }}
                                                <div class="alignright" id="vote-count-{{../id}}-{{@index}}">{{ this.votes }}</div>
                                            </label>
                                        </div>
                                    </li>
                                {{/each}}
                            </ul>
                        </div>
                        <div class="panel-footer">
                            <input type="submit" id="vote-btn-{{this.id}}" class="btn btn-primary btn-sm" value="Vote">
                        </div>
                    </div>
                </form>
                <br> <br>
            </div>
        {{/each}}
    </div>
    

    <script>
        
        var vote = function (event) {
            event.preventDefault();
            var pollId = event.target.id;
            var choice =event.target.optionsRadios.value;
            var data = {
                choice: event.target.optionsRadios.value
               };
            var url =  '/' + pollId + '/vote';
            console.log(url);
            console.log(data);
            $.ajax({
                 type: "POST",
                 contentType: 'application/json',
                  url: url,
                  data: JSON.stringify(data),
                  success: function(data){
                  if (data.success)
                     alert(data.success);
                  else if (data.warning)
                      alert(data.warning);
                    }
         
    
                   });

            // disable the button, so a user san't vote twice
            document.querySelector('#vote-btn-' + pollId).disabled = true;
            var voteCount = document.querySelector('#vote-count-' + pollId + '-' + choice);
            voteCount.textContent++;
            voteCount.style.color = 'green';
            voteCount.style.fontWeight = '900';
        };
    </script>